### Numpy Task

In [1]:
import numpy as np

In [ ]:
# 1~ 10까지의 요소를 ndarray에 담는다.

# 3행 2열 list를 ndarray에 담고 각 요소는 순서대로 6, 5, 4, 3, 2, 1이다.

# 4행 1열 ndarray, 순서대로 10, 8, 6, 4를 담는다.

# 1~10까지 요소를 ndarray에 담고 각 요소에 5 씩 더해준다.

# axis 0이 10인 shape이면서 모든 원소가 0, dtype은 int32인 ndarray만들기

# axis 0 이 3, axis 1 이 4 인 shape이면서 모든 원소가 1인 ndarray 만들기

# axis 0 이 5, 각 요소가 0~ 4 인 ndarray 만들기

# 아래의 ndarray1 이 주어졌을 때 순서대로 문제를 해결한다.

ndarray1 = np.arange(start=0, stop=16)

# 2 Dimension, axis 1 은 2로 변경
# 2 Dimension, axis 0 은 8로 변경
# 3 Dimension으로 변경
# ndarray3 을 axis 1이 1인 2차원 ndarray로 변환
# ndarray3 을 1 Dimension으로 변환

# 1차원 ndarray 1~ 100까지 값 중 97값 추출하기

# 아래의 ndarray1이 주여졌을 때 순서대로 문제를 해결한다.
ndarray1 = np.arange(start=0, stop=21)
# 2차원 배열 axis0 은 4, axis 1 은 5로 1~ 20 요소 값 중 15 값 추출하기
# 2 Dimension, axis 0 은 5로 변경
# 2행의 4번째 숫자 출력

# 1~100 중 짝수만 출력
# 위에서 구한 짝수들을 axis 0이 10인 2차원 배열로 변환후 82~100까지 추출
# 위에서 구한 요소 중 (86, 100) 좌표 구하기

# 아래의 ndarray1이 주여졌을 때 순서대로 문제를 해결한다.
ndarray1 = np.arange(start=0, stop=101)

# 각 요소 중 1의 자리수가 2인 수들만 추출하기

# 1~ 49 요소 중 2와 5의 공배수 추출하기
# 위에서 추출한 공배수 중 20이상인 값만 추출하기

# 데이터를 분석하여, 각 수치별 오름차순 및 내림차순 후 이름을 출력하세요.
# [[과일이름], [가격]], 가격별 내림차순
array1 = [['Mango', 'Apple', 'Pear', 'Pitch', 'Melon'], [1500, 1800, 2000, 2500, 8500]]

# [[이름], [나이], [학점]], 나이별 내림차순, 학점별 오름차순
array2 = [['둘리', '또치', '길동', '도너', '마이콜'], [7, 9, 40, 5, 20], ['C', 'A', 'B', 'F', 'D']]

# [[국가이름], [GDP 성장률]], GDP 성장률별 오름차순
array3 = [['한국', '영국', '러시아', '남아프리카 공화국', '미국'], ['1.7%', '-0.6%', '0.3%', '1.2%', '1.4%']]

In [2]:
# 1~ 10까지의 요소를 ndarray에 담는다.
ndarray1 = np.arange(start=1, stop=11)
print(ndarray1)

[ 1  2  3  4  5  6  7  8  9 10]

In [13]:
# 3행 2열 list를 ndarray에 담고 각 요소는 순서대로 6, 5, 4, 3, 2, 1이다.
ndarray2 = np.array([[6, 5],[4, 3], [2,1]])
print(ndarray2)
ndarray2 = np.arange(start=1, stop=7)[::-1].reshape(3,2)
print(ndarray2)

[[6 5]
 [4 3]
 [2 1]]
[[6 5]
 [4 3]
 [2 1]]

In [6]:
# 4행 1열 ndarray, 순서대로 10, 8, 6, 4를 담는다.
ndarray1 = np.array([[10],[8],[6],[4]])
print(ndarray1)

[[10]
 [ 8]
 [ 6]
 [ 4]]

In [9]:
# axis 0이 10인 shape이면서 모든 원소가 0, dtype은 int32인 ndarray만들기
ndarray1 = np.zeros((10,)).astype(np.int32)
print(ndarray1)

[0 0 0 0 0 0 0 0 0 0]

In [15]:
# axis 0 이 3, axis 1 이 4 인 shape이면서 모든 원소가 1인 ndarray 만들기
ndarray2 = np.ones((3, 4))
print(ndarray2)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [25]:
# axis 0 이 5, 각 요소가 0~ 4 인 ndarray 만들기
ndarray1 = np.arange(start=0, stop=5)
print(ndarray1)
ndarray2 = np.array([ndarray1] *5 )
print(ndarray2)

[0 1 2 3 4]
[[0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]]

In [41]:
# 아래의 ndarray1 이 주어졌을 때 순서대로 문제를 해결한다.

ndarray1 = np.arange(start=0, stop=16)

# 2 Dimension, axis 1 은 2로 변경
print(ndarray1)
print("=" * 30)
ndarray2 = ndarray1.reshape((-1, 2))
print(ndarray2)
print("=" * 30)
# 2 Dimension, axis 0 은 8로 변경
ndarray2 = ndarray1.reshape((8, -1))
print(ndarray2)
print("=" * 30)
# 3 Dimension으로 변경
ndarray3 = ndarray1.reshape((2,2,-1))
print(ndarray3)
print("=" * 30)
# ndarray3 을 axis 1이 1인 2차원 ndarray로 변환
ndarray2 = ndarray3.reshape((-1,1))
print(ndarray2)
print("=" * 30)
# ndarray3 을 1 Dimension으로 변환
ndarray1 = ndarray3.reshape((-1))
print(ndarray1)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
==============================
[[ 0  1]
 [ 2  3]
 [ 4  5]
 [ 6  7]
 [ 8  9]
 [10 11]
 [12 13]
 [14 15]]
==============================
[[ 0  1]
 [ 2  3]
 [ 4  5]
 [ 6  7]
 [ 8  9]
 [10 11]
 [12 13]
 [14 15]]
==============================
[[[ 0  1  2  3]
  [ 4  5  6  7]]

 [[ 8  9 10 11]
  [12 13 14 15]]]
==============================
[[ 0]
 [ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]
 [11]
 [12]
 [13]
 [14]
 [15]]
==============================
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

In [43]:
# 1차원 ndarray 1~ 100까지 값 중 97값 추출하기
ndarray1 = np.arange(start=1, stop=101)[-4]
print(ndarray1)

97

In [50]:
# 아래의 ndarray1이 주여졌을 때 순서대로 문제를 해결한다.
ndarray1 = np.arange(start=1, stop=21)
# 2차원 배열 axis0 은 4, axis 1 은 5로 1~ 20 요소 값 중 15 값 추출하기
ndarray2 = ndarray1.reshape((4,-1))
print(ndarray2)
print("=" * 30)
ndarray2_15 = ndarray2[2,4]
print(ndarray2_15)
print("=" * 30)
# 2 Dimension, axis 0 은 5로 변경
ndarray2 = ndarray1.reshape((5,-1))
print(ndarray2)
# 2행의 4번째 숫자 출력
print("=" * 30)
print(ndarray2[2,3])

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]
==============================
15
==============================
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]
 [17 18 19 20]]
==============================
12

In [69]:
# 1~100 중 짝수만 출력
ndarray1 = np.arange(start=1, stop=101)
ndarray1_even = ndarray1[ndarray1 % 2 == 0]
print(ndarray1_even)
print("=" * 30)
# 위에서 구한 짝수들을 axis 0이 10인 2차원 배열로 변환후 82~100까지 추출
ndarray2 = ndarray1_even.reshape((10, -1))
print(ndarray2)
print("=" * 30)
print(ndarray2[-2:])
print("=" * 30)
# 위에서 구한 요소 중 (86, 100) 좌표 구하기
print(ndarray2[-2: , 2:5])

[  2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34  36
  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72
  74  76  78  80  82  84  86  88  90  92  94  96  98 100]
==============================
[[  2   4   6   8  10]
 [ 12  14  16  18  20]
 [ 22  24  26  28  30]
 [ 32  34  36  38  40]
 [ 42  44  46  48  50]
 [ 52  54  56  58  60]
 [ 62  64  66  68  70]
 [ 72  74  76  78  80]
 [ 82  84  86  88  90]
 [ 92  94  96  98 100]]
==============================
[[ 82  84  86  88  90]
 [ 92  94  96  98 100]]
==============================
[[ 86  88  90]
 [ 96  98 100]]

In [82]:
# 아래의 ndarray1이 주여졌을 때 순서대로 문제를 해결한다.
ndarray1 = np.arange(start=0, stop=101)

# 각 요소 중 1의 자리수가 2인 수들만 추출하기
original_ndarray = ndarray1[ndarray1 % 10 == 2]
print(original_ndarray)
print("=" * 30)
# 1~ 49 요소 중 2와 5의 공배수 추출하기
ndarray1 = np.arange(start=1, stop=50)
original_ndarray = ndarray1[(ndarray1 % 2 == 0) | (ndarray1 % 5 == 0)]
print(original_ndarray)
print('=' * 30)
# 위에서 추출한 공배수 중 20이상인 값만 추출하기
original_ndarray_more = original_ndarray[original_ndarray >= 20]
print(original_ndarray_more)

[ 2 12 22 32 42 52 62 72 82 92]
==============================
[ 2  4  5  6  8 10 12 14 15 16 18 20 22 24 25 26 28 30 32 34 35 36 38 40
 42 44 45 46 48]
==============================
[20 22 24 25 26 28 30 32 34 35 36 38 40 42 44 45 46 48]

In [157]:
# 데이터를 분석하여, 각 수치별 오름차순 및 내림차순 후 이름을 출력하세요.
# [[과일이름], [가격]], 가격별 내림차순
array1 = [['Mango', 'Apple', 'Pear', 'Pitch', 'Melon'], [1500, 1800, 2000, 2500, 8500]]
ndarray1 = np.array(array1)
print(ndarray1)
print('=' * 30)
ndarray1_cost = ndarray1[1]
sort_order = ndarray1_cost.argsort()[::-1]
print(ndarray1[0][sort_order])
print('=' * 30)
# [[이름], [나이], [학점]], 나이별 내림차순, 학점별 오름차순
array2 = [['둘리', '또치', '길동', '도너', '마이콜'], [7, 9, 40, 5, 20], ['C', 'A', 'B', 'F', 'D']]
ndarray2 = np.array(array2)
age = ndarray2[1].astype(np.int8)
print(age)
sort_age = age.argsort()[::-1]
print(sort_age)
print('=' * 30)
sorted_by_age = ndarray2[0][sort_age]
print(sorted_by_age)
print('=' * 30)
grade = ndarray2[2]
sorted_grade = grade.argsort()
print(sorted_grade)
print('=' * 30)
sorted_by_grade = ndarray2[0][sorted_grade]
print(sorted_by_grade)
print('=' * 30)
# [[국가이름], [GDP 성장률]], GDP 성장률별 오름차순

array3 = [['한국', '영국', '러시아', '남아프리카 공화국', '미국'], ['1.7%', '-0.6%', '0.3%', '1.2%', '1.4%']]
ndarray3 = np.array(array3)
print(ndarray3)
numbers_only = [float(item.rstrip('%')) for item in array3[1]]
print(type(numbers_only))
sorted_number = np.argsort(numbers_only)
print(sorted_number)
print('=' * 30)
print(f'GDP 성장률별 오름차순 : {ndarray3[0][sorted_number]}')

[['Mango' 'Apple' 'Pear' 'Pitch' 'Melon']
 ['1500' '1800' '2000' '2500' '8500']]
==============================
['Melon' 'Pitch' 'Pear' 'Apple' 'Mango']
==============================
[ 7  9 40  5 20]
[2 4 1 0 3]
==============================
['길동' '마이콜' '또치' '둘리' '도너']
==============================
[1 2 0 4 3]
==============================
['또치' '길동' '둘리' '마이콜' '도너']
==============================
[['한국' '영국' '러시아' '남아프리카 공화국' '미국']
 ['1.7%' '-0.6%' '0.3%' '1.2%' '1.4%']]
<class 'list'>
[1 2 3 4 0]
==============================
GDP 성장률별 오름차순 : ['영국' '러시아' '남아프리카 공화국' '미국' '한국']